VITE_SUPABASE_URL=https://qfujfquiegdznmsvazwr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmdWpmcXVpZWdkem5tc3ZhendyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MzU1MTIsImV4cCI6MjA5NjAxMTUxMn0.tJiIqoNBji3-g9rvx-btvyFZjLit-xx_Vaq9fbl-NHw
